/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

:root {
	--font-roboto: "Roboto", sans-serif;
	--font-roboto-mono: "Roboto Mono", monospace;
	--font-roboto-slab: "Roboto Slab", serif;
	--color-header: #4763cf;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
	font-family: var(--font-roboto-mono);
}

.home-body {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
/* --------------- HEADER ----------------- */
header {
	width: 100%;
	display: grid;
	z-index: 2;
	grid:
		"icon-container" 50px
		"logo-container" 90px
		/ 1fr;
}

/* @font-face {
	font-family: "Flaticon";
	src: local("Flaticon") url("./font/Flaticon.ttf");
	font-weight: bold;
} */

a {
	text-decoration: none;
	color: #000;
}

.header-icons-container {
	display: grid;
	justify-content: end;
	grid-area: icon-container;
	width: 100%;
	background-color: var(--color-header);
}

.header-icons {
	display: grid;
	grid-template-columns: repeat(5, 60px);
	place-items: center;
	width: 300px;
	height: auto;
	margin-right: 5rem;
}

.header-icons i {
	color: #ffffff;
	transition: color 0.5s;
}

.header-icons i:hover {
	color: #0f005af7;
}

/* ---- nav bar ---- */
.navbar {
	display: grid;
	grid-template-columns: 300px 1fr 200px;
	grid-area: logo-container;
	background-color: #ffffff;
}

.navbar-logo-container {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
}

.navbar-logo-container a img {
	width: 100%;
}

.profile-link {
	grid-column: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
}

.profile-link a {
	color: #000;
	font-weight: bold;
	border-bottom: 2px solid #000;
}

/* ------------------- MAIN HOME------------------ */

.home-main {
	display: grid;
	height: calc(100vh - 140px);
	grid-template-columns: 1fr 4fr 1fr;
	background: url("../assets/imgs/Cover.png") center/cover no-repeat;
}

.home-main .home-main__container {
	display: grid;
	grid-column: 2;
	justify-items: center;
	height: 350px;
	margin-top: 15rem;
}

.home-main .home-main__title {
	/* font-family: var(--font-roboto-mono); */
	font-size: 3.5rem;
	font-weight: bold;
	letter-spacing: 10px;
	color: #ffffff;
	text-align: center;
}

.home-main .home-main__button {
	width: 13rem;
	height: 6rem;
	display: grid;
	place-items: center;
	cursor: pointer;
	outline: none;
	border: 2px solid #000;
	border-radius: 0.6rem;
	background-color: var(--color-header);
	transition: all 0.5s;
}

.home-main .home-main__button:hover {
	border: 2px solid #ffffff;
	background-color: rgb(135, 139, 172);
}

.home-main__button a {
	font-size: 1.8rem;
	font-weight: bold;
	color: #ffffff;
}

/* ------------------ MAIN BLOGS -------------*/
.blogs-main {
	display: grid;
}

/* ---- recommended blog ---- */
.recommended-blog-container {
	padding: 0 5rem 4rem;
	background-color: #e6e9ed;
}

.recommended-blog--img-side {
	display: grid;
	justify-content: center;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;
}

.recommended-blog--img-side h3 {
	font-size: 2rem;
	padding: 2rem 2rem 2rem 10rem;
}

.recommended-blog__img-container {
	grid-column: 1;
	margin-left: 10rem;
}

.recommended-blog__img-container img {
	width: 85%;
	border-radius: 2rem;
}

.recommended-blog--info-side {
	grid-column: 2;
}

.recommended-blog--info-side h2 {
	font-size: 3.2rem;
	padding: 2rem 2rem 2rem 0;
}

.recommended-blog--info-side p {
	margin-bottom: 3.5rem;
	font-size: 2rem;
}

.blogs-button-container .blogs-button {
	width: 14rem;
	height: 5rem;
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	border: 2px solid var(--color-header);
	border-radius: 0.6rem;
	transition: all 0.5s;
}

.blogs-button-container .blogs-button:hover {
	cursor: pointer;
	background-color: var(--color-header);
	color: #fff;
}

/* ---- blog posts ---- */

.blogs-posts-container {
	display: grid;
	padding: 0 5rem 4rem;
	margin-bottom: 10rem;
}

.blogs-posts-container h3 {
	font-size: 2rem;
	padding: 2rem 0;
	text-align: center;
	border-bottom: 1px solid #cdd2da;
}

.blogs-posts {
	margin-top: 3rem;
	display: grid;
	justify-content: center;
	grid: 1fr 1fr / repeat(auto-fill, minmax(320px, 1fr));
	gap: 30px;
}

.post-container {
	padding: 2rem;
	border: 4px solid var(--color-header);
	border-radius: 2rem;
}

.post-container picture img {
	width: 100%;
	border-radius: 2rem;
}

.post-container h4 {
	font-size: 1.8rem;
	margin: 2rem 0 3rem;
}

.post-container p {
	font-size: 1.8rem;
	margin: 1rem 0 2rem;
}

.post-container picture figcaption a:hover {
	text-decoration: underline;
}

/* --------------- FOOTER BLOGS -------------- */
.blogs-footer {
	width: 100%;
	height: 14rem;
	display: grid;
	place-items: center;
	border-top: 40px solid var(--color-header);
	background-color: #22272d;
}

.blogs-footer p {
	font-size: 1.6rem;
	color: #ffffff;
}

/* ------------------ MAIN BLOG --------------- */
.blog-main {
	width: 100%;
	display: grid;
}

.blog-img-section {
	padding: 0 15rem 4rem;
	text-align: center;
}

.blog-img-container img {
	width: 100%;
}

/* ---- info section ---- */

.blog-info-section {
	padding: 0 15rem 4rem;
	margin-bottom: 5rem;
	/* max-width: 980px; */
	justify-self: center;
}

.blog-info-section h3 {
	padding-bottom: 3rem;
	font-size: 2rem;
	/* text-align: center; */
	border-bottom: 1px solid #cdd2da;
}
.blog-info-container h1 {
	margin: 2rem 0;
	font-size: 5rem;
}

.blog-info-container p {
	font-size: 2rem;
	text-align: justify;
}

/* ---- contact section ---- */

.main-contact-section {
	padding: 10rem 25rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	background-color: #cdd2da;
}

.main-contact-container__email,
.main-contact-container__social {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.img-contact-container img {
	width: 10rem;
}

.contact a {
	font-size: 1.6rem;
	font-weight: bold;
	text-decoration: underline;
}

.contact p {
	margin-top: 1.5rem;
	font-size: 1.3rem;
}

/* ----------------- MAIN PERFIL --------------- */
.perfil-main {
	display: grid;
}

/* ---- perfil introduction */

.perfil-introduction-container {
	padding: 7rem 10rem;
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr;
	place-items: center;
	background-color: #cdd2da;
}

.perfil-img-container {
	grid-column: 1;
}

.perfil-img-container img {
	width: 320px;
	border-radius: 2rem;
}

.perfil-introduction-container h2 {
	font-size: 3rem;
}

.perfil-introduction-container p {
	font-size: 1.8rem;
	margin-top: 2rem;
}

/* ---- perfil projects */
.perfil-projects-section {
	display: grid;
	padding: 0 15rem 10rem;
}

.perfil-projects-section h3 {
	margin: 2rem 0;
	padding-bottom: 2rem;
	font-size: 2rem;
	text-align: center;
	border-bottom: 1px solid #cdd2da;
}

.perfil-projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 2rem;
}

.project-container h4 {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.project-container p {
	font-size: 1.4rem;
}
