@media (max-width: 900px) {
	.recommended-blog--img-side {
		grid-template-columns: 1fr;
		grid-template-rows: 3fr;
	}

	.recommended-blog__img-container {
		grid-row: 2;
	}

	.recommended-blog--info-side {
		grid-column: 1;
		grid-row: 3;
	}

	.perfil-introduction-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr2;
	}

	.perfil-img-container {
		grid-row: 1;
		grid-column: 1;
	}
	.perfil-introduction-container div {
		grid-row: 2;
		grid-column: 1;
	}
}
